/* LANDING */
/* Navbar */
.navbar {
  background-color: white !important;
}

.dropdown-menu {
  padding: 10px;
  left: 0;
}

.btn-stock {
  background-color: #f26326 !important;
  width: 150px;
  border-radius: 53px;
}

.btn-stock:hover {
  background-color: #cf531d !important;
  width: 150px;
  border-radius: 53px;
}

.btn-stock-2 {
  background-color: transparent !important;
  border-color: #f26326;
  width: 150px;
  border-radius: 53px;
}

.btn-stock-2:hover {
  background-color: #f26326 !important;
  width: 150px;
  border-radius: 53px;
}

.navbar .nav-item .nav-link {
  margin: 0 12px;
  font-weight: 500;
  font-size: 16px;
}

.navbar .nav-item .btn {
  margin-left: 10px;
}
/* End Navbar */

/* Slider Section */
.carousel-item {
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}
/* End Slider */

/* About */
.about {
  background-color: #f8fafb;
}

.text-about {
  font-size: 20px !important;
  line-height: 44px;
}

.text-about-2 {
  font-size: 18px;
}
/* End About */

/* Benefit */
.benefit-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}

.benefit-content {
  font-size: 18px;
  line-height: 30px;
}
/* @media screen and (min-width: 414px) {
  .benefit-text {
    font-size: 18px;
  }
} */
/* End Benefit */

/* Program */
.text-program {
  font-size: 18px !important;
  line-height: 40px;
  text-align: center;
}
/* End Program */

/* Testimonial */
.text-testimonial {
  font-size: 50px !important;
}
.testimonial-text {
  font-size: calc(1.525rem + 2vw);
  line-height: calc(3.2rem + 2vw);
}

.testimonial-name {
  font-size: 17px;
  font-weight: 700;
  color: black;
  margin-top: 14px;
}

.testimonial-role {
  position: absolute;
  margin-left: 86px;
  margin-top: 38px;
}

.testimonial-content {
  margin-left: 20px;
}
/* End Testimonial */

/* Membership */
.card-body .text-stock {
  color: #f26326;
}

.card-body .text-stock:hover {
  color: white;
}
/* End Membership */

/* Footer */
.footer-text {
  font-weight: 300;
}

.footer-title {
  font-weight: 700;
  font-size: 20px;
}

.footer-copyright {
  background-color: rgb(20, 20, 20);
}
/* End Footer */
/* END LANDING */

/* DETAIL PRODUCT */
.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.card-wrapper .card {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-wrapper .card-select {
  border-width: 5px;
  box-sizing: border-box;
  border-radius: 0;
}

.card-wrapper .card .product-imgs img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.title {
  font-size: 20px;
}

.btn-stock-buy {
  background-color: #f26326 !important;
  width: 150px;
  border-radius: 3px;
}

.btn-stock-buy:hover {
  background-color: #cf531d !important;
  width: 150px;
  border-radius: 3px;
}

.btn-stock-cart {
  background-color: transparent !important;
  border-color: #f26326;
  width: 150px;
  border-radius: 3px;
}

.btn-stock-cart:hover {
  background-color: #f26326 !important;
  width: 150px;
  border-radius: 3px;
}
/* END DETAIL PRODUCT */
